
@{
    Layout = null;
}
@model AlbumModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>批量上传</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="~/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="~/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="~/css/site.css" media="all">
    <link rel="stylesheet" href="~/ssi-uploader/styles/ssi-uploader.css" />
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">上传图片</div>
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" lay-filter="form-group">
                    <div class="layui-form-item">
                        <div style="padding:0 100px;">
                            <div>
                                <input type="file" name="ssi-upload" multiple id="ssi-upload" />
                                <h3 class="layui-form-mid layui-word-aux">请上传jpg、jpeg、gif、png格式文件小于3M的图片</h3>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">标签</label>
                        <div class="layui-input-block up_index w300">
                            <select name="TagsId" lay-verify="required">
                                <option value="">请选择</option>
                                @foreach (var item in Model.TagsList.Where(p => p.TagsType == (int)King.Utils.Enums.TagsType.ImageList))
                                {
                                    <option value="@item.TagsId">@Html.Raw(item.TagsName)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">图片标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="Title" id="txtTitle" lay-verify="required" placeholder="请输入图片标题" autocomplete="off" class="layui-input w500" value="@Html.Raw(Model.Title)">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">图片描述</label>
                        <div class="layui-input-block">
                            <textarea name="Description" placeholder="请输入图片描述" class="layui-textarea w500">@Html.Raw(Model.Description)</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">作者</label>
                        <div class="layui-input-block">
                            <input type="text" name="Author" placeholder="请输入作者" autocomplete="off" class="layui-input w500" value="@Html.Raw(Model.Author)">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否公开</label>
                        <div class="layui-input-block">
                            <div class="layui-col-md12">
                                <input type="radio" name="IsActive" value="true" title="是" >
                                <input type="radio" name="IsActive" value="false" title="否"  checked>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="ImageUrl" id="txtImageUrl" lay-verify="imgurl" value="">
                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <div class="layui-footer" style="left: 0;">
                                <button class="layui-btn" lay-submit="" lay-filter="form-page">立即保存</button>
                                <a href="/Album/Index" class="layui-btn layui-btn-primary">返回列表</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="~/ssi-uploader/js/ssi-uploader.js"></script>
    <script>
        layui.config({
            base: '../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form'], function () {
            var layer = layui.layer
                , form = layui.form;

            form.render();

            var imageArray = [];
            //批量上传
            $('#ssi-upload').ssi_uploader({
                url: '/Upload/SSIUploadImage',
                allowed: ['jpg', 'jpeg', 'gif', 'png'],
                maxNumberOfFiles: 10,//每次允许上传多少个文件
                maxFileSize: 3 * 1024 * 1024,//允许上传的最大文件尺寸
                locale: "zh_CN",//使用中文
                beforeUpload: function () {
                    //console.log('before');
                },
                onEachUpload: function (data) {
                    //console.log('onEach',data.responseMsg);
                    var img_obj = data.responseMsg;
                    imageArray.push(img_obj.url);
                    console.log(img_obj)
                }, onUpload: function (data) {
                    $('#txtImageUrl').val(imageArray.length);
                    layer.msg('上传成功');
                }
            });         

            /* 自定义验证规则 */
            form.verify({
                required: function (value) {
                    if (value.length < 1) {
                        return '必填项不能为空';
                    }
                },
                imgurl: function (value) {
                    if (value.length < 1) {
                        return '请上传图片';
                    }
                }
            });

            ///* 监听提交 */
            form.on('submit(form-page)', function (data) {
                data.field.ImageList = imageArray;
                console.log(data.field);
                layer.confirm('确认保存信息吗？', function (index) {
                    $.ajax({
                        type: "post",
                        url: '/Album/BatchUpload',
                        data: data.field,
                        datatype: "json",
                        success: function (res) {
                            layer.close(index);
                            if (res.code == 1000) {
                                layer.msg(res.msg);
                            }
                            else {
                                layer.msg(res.msg, { icon: 5 });
                            }
                        }
                    });
                  });
                //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                return false;
            });
        });
    </script>
</body>
</html>

