
@{
    Layout = null;
}
@using King.Utils.Enums
@model NavigationModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>栏目编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="~/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="~/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="~/css/site.css" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">@(Model.Id>0? "修改栏目" : "添加栏目")</div>
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" lay-filter="form-group">
                    <div class="layui-form-item">
                        <label for="" class="layui-form-label">父级栏目</label>
                        <div class="layui-input-block w300">
                            <input type="text" id="tree" lay-filter="tree" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">导航名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="NavigationName" lay-verify="required" autocomplete="off" placeholder="请输入导航名称" class="layui-input w300" value="@Html.Raw(Model.NavigationName)">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">重定向名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="RewriteName" lay-verify="required" autocomplete="off" placeholder="请输入重定向名称" class="layui-input w300" value="@Html.Raw(Model.RewriteName)">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">描述</label>
                        <div class="layui-input-block">
                            <textarea name="Description" placeholder="请输入描述" class="layui-textarea w300">@Html.Raw(Model.Description)</textarea>
                        </div>
                    </div>                   
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                            <input type="text" name="Sort" lay-verify="required" autocomplete="off" placeholder="请输入排序" class="layui-input w300" value="@Html.Raw(Model.Sort)">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">显示</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="chkIsShow" lay-skin="switch" @Html.Raw(Model.IsShow == true ? " checked=\"checked\"" : "") lay-text="显示|隐藏">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="chkIsActive" lay-skin="switch" @Html.Raw(Model.IsActive == true ? " checked=\"checked\"" : "") lay-text="启用|禁用">
                        </div>
                    </div>
                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <div class="layui-footer" style="left: 0;">
                                <button class="layui-btn" lay-submit="" lay-filter="form-page">立即保存</button>
                                <a href="/Navigation/Index" class="layui-btn layui-btn-primary">返回列表</a>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="Pid" id="Pid" value="@ViewData["Pid"]" />
                </form>
            </div>
        </div>
    </div>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'treeSelect', 'form'], function () {
            var $ = layui.$
                , treeSelect = layui.treeSelect
                , layer = layui.layer
                , form = layui.form;

            treeSelect.render({
                elem: '#tree',  // 选择器
                data: '/Navigation/GetData',  // 数据               
                type: 'get',
                placeholder: '默认为父级菜单',
                search: false, // 是否开启搜索功能：true/false，默认false // 占位符
                // 一些可定制的样式
                style: {line: { enable: true }},
                // 点击回调
                click: function (d) {
                    console.log(d.current.id);
                    $('#Pid').val(d.current.id);
                },
                // 加载完成后的回调函数
                success: function (d) {
                    console.log(d.data);
                    // 选中节点，根据id筛选
                    if (@Convert.ToInt32(ViewData["Pid"]) > 0)
                    {
                         treeSelect.checkNode('tree', @ViewData["Pid"]);
                        //treeSelect.checkNode('tree', d.data[0].id);                      
                    }                  
                }
            });

            form.render();
            
            ///* 监听提交 */
            form.on('submit(form-page)', function (data) {              
                data.field.IsShow = data.field.chkIsShow == 'on' ? true : false;
                data.field.IsActive = data.field.chkIsActive == 'on' ? true : false;
                console.log(data.field);
                $.ajax({
                    //headers: { 'Authorization': 'Bearer ' + layui.data("access_token").token },
                    type: "post",
                    url: '/Category/Edit/@Model.Id',
                    data: data.field,
                    //async: false,
                    dataType: "json",
                    success: function (res) {
                        if (res.code == 1000) {
                            layer.alert(res.msg, function(index){
                                window.location.href = '/Navigation/Index';//do something
                                layer.close(index);
                            });
                        }
                        else {
                            layer.msg(res.msg, { icon: 5 });
                        }
                    }
                });
                //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                return false;
            });
        });
    </script>
</body>
</html>